* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.options_cont{
    height: 5.25rem;
    width: 4rem;
    background-color: #f5f6fa;
    display: flex;
    top: 2rem;
    left: 2rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}

.scale-tools{
    animation: scale-tools;
    animation-duration: 1s;
}

@keyframes scale-tools {
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}

.tools_cont{
    height: 5rem;
    width: 50vw;
    display: flex;
    background-color: #f5f6fa;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    justify-content: space-around;
    top: 2rem;
    left: calc((100vw - 50vw)/2);
    position: absolute;
}

.tools_cont > *{
    display: block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.pencil-tool-cont{
    height: 5rem;
    width: 8rem;
    top: 7.25rem;
    left: 25vw;
    position: absolute;
    display: none;
    background-color: #f5f6fa;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.pencil-width-cont{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencil-width-cont input{
    width: 80%;
}

.pencil-color-cont{
    height: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pencil-color{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.black{
    background-color: black;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.eraser-tool-cont{
    height: 2rem;
    width: 8rem;
    top: 7.25rem;
    left: calc(25vw + 8.2rem);
    position: absolute;
    background-color: #f5f6fa;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: none;
    justify-content: center;
    align-items: center;
    
}

.eraser-tool-cont input{
    width: 80%;
}

.sticky_cont{
    height: 15rem;
    width: 15rem;
    top: 15rem;
    left: 10rem;
    position: absolute;
}

.header_cont{
    height: 2rem;
    width: 15rem;
    background-color: #f5f6fa;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.header_cont > *{
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.content_cont{
    height: calc(100% - 2rem);
    width: 15rem;
}

.content_area{
    display: block;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.minimize_box{
    background-color: lightgreen
}

textarea{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}
img{
    height: 100%;
    width: 100%;
}

.chatbox_icon{
    height: 40px !important;
    width: 40px !important;
}


.chatbox{
    width: 500px;
    margin-right: 14px;
    transition: all 0.3s;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
    bottom: 90px;
    right: 30px;
    position: fixed;
    border-radius: 50px;
 }

.remove_box{
    background-color: palevioletred;
}

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&family=Roboto&family=Titan+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 50%;
}

.chatbox {
  width: 400px;
  max-width: 90%;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.5);
}

.code {
  padding: 20px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.code h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #444;
  margin-left: 10px;
}

.message_area {
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 40px;
}

textarea {
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 16px;
  outline: none;
  background: #fbfbfb;
  border-radius: 50px;
}

.message {
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 40px;
  max-width: 300px;
  position: relative;
}

.incoming {
  background: #8f8be8;
  color: #fff;
}

.outgoing {
  background: #e9eafd;
  color: #787986;
  margin-left: auto;
}

.message h4 {
  position: absolute;
  top: -20px;
  left: 0;
  color: #333;
  font-size: 14px;
}

.open-btn {
  background: #7d72e4;
  color: whitesmoke;
  padding: 16px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: fixed;
  font-size: 16px;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
  bottom: 24px;
  right: 30px;
  width: 280px;
}

.open-btn i {
  font-size: 28px;
  margin-right: 20px;
}

.close-btn {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}

.code {
  display: flex;
  align-items: center;
}

.close-btn-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

